<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% extends 'base.html' %}

    {% block content %}

    <div class="card shadow p-5">

        <h2 class="text-center mb-4">
            📤 Upload File
        </h2>

        <form id="upload-form" method="POST" enctype="multipart/form-data">

            {% csrf_token %}

            <div id="drop-area">

                <h5>📂 Drag & Drop Your File Here</h5>

                <p>or</p>

                {{ form.file }}

                <div id="file-name" class="mt-3 fw-bold text-success">
                    No file selected
                </div>

                <img id="preview-image" class="img-fluid mt-3" style="max-height:250px; display:none;">

                <button type="button" id="remove-file" class="btn btn-danger mt-3" style="display:none;">
                    Remove File
                </button>

            </div>

            <div class="progress mt-4" style="height:25px;">

                <div id="progress-bar" class="progress-bar progress-bar-striped progress-bar-animated"
                    style="width:0%;">

                    0%

                </div>

            </div>

            <button class="btn btn-primary w-100 mt-4">

                Upload File

            </button>

        </form>

    </div>

    {% endblock %}
</body>

</html>